
<div class="header">
  <a href="https://github.com/FJNR-inc/fjnr-ng-modal" class="header__item">
    Go to the Github repository
  </a>
</div>

<div class="content">
  package to have modal windows for his project angular.

  <div class="content">
    <div class="content__section">
      <div class="content__section__title">
        Demo:
      </div>
      <div class="content__section__content">
        <div>Test modal information: <a (click)="toogleModal('test_modal')">Click there</a></div>
        <app-nt-modal name="test_modal"
                      typeModal="information"
                      titleModal="modal"
                      [buttons]="[
                        {
                          label: 'close',
                          type: 'information',
                          id: 'btn-info'
                        }
                      ]"
                      (clickOnButton)="actionButton($event)"
                      maxWidth="600px"
                      [autoClose]="true">
          <p>Test 1</p>
          <p>Test 2</p>
        </app-nt-modal>
      </div>
      <div class="content__section__content">
        <div>Test modal default: <a (click)="toogleModal('test_modal_1')">Click there</a></div>
        <app-nt-modal name="test_modal_1"
                      typeModal="default"
                      titleModal="modal"
                      (clickOnButton)="actionButton($event)"
                      maxWidth="600px"
                      [autoClose]="true">
          <p>Test 1</p>
          <p>Test 2</p>
        </app-nt-modal>
      </div>
      <div class="content__section__content">
        <div>Test modal danger: <a (click)="toogleModal('test_modal_2')">Click there</a></div>
        <app-nt-modal name="test_modal_2"
                      typeModal="danger"
                      titleModal="modal"
                      [buttons]="[
                        {
                          label: 'close',
                          type: 'danger',
                          id: 'btn-info'
                        }
                      ]"
                      (clickOnButton)="actionButton($event)"
                      maxWidth="600px"
                      [autoClose]="true">
          <p>Test 1</p>
          <p>Test 2</p>
        </app-nt-modal>
      </div>
      <div class="content__section__content">
        <div>Test modal warning: <a (click)="toogleModal('test_modal_3')">Click there</a></div>
        <app-nt-modal name="test_modal_3"
                      typeModal="warning"
                      titleModal="modal"
                      [buttons]="[
                        {
                          label: 'close',
                          type: 'warning',
                          id: 'btn-info'
                        }
                      ]"
                      (clickOnButton)="actionButton($event)"
                      maxWidth="600px"
                      [autoClose]="true">
          <p>Test 1</p>
          <p>Test 2</p>
        </app-nt-modal>
      </div>
      <div class="content__section__content">
        <div>Test modal with many buttons: <a (click)="toogleModal('test_modal_4')">Click there</a></div>
        <app-nt-modal name="test_modal_4"
                      typeModal="information"
                      titleModal="modal"
                      [buttons]="[
                        {
                          label: 'warning',
                          type: 'warning',
                          id: 'btn-warning'
                        },
                        {
                          label: 'info',
                          type: 'info',
                          id: 'btn-info'
                        },
                        {
                          label: 'close',
                          type: 'default',
                          id: 'btn-close'
                        }
                      ]"
                      (clickOnButton)="actionButton($event)"
                      maxWidth="600px"
                      [autoClose]="true">
          <p>Test 1</p>
          <p>Test 2</p>
        </app-nt-modal>
      </div>
    </div>
  </div>
</div>

