<div class="modal-component" (click)="clickOverlay($event)" [style.display]="!show ? 'none' : 'block'" [ngClass]="typeModal">
  <div class="modal-component__content">
    <div class="modal-component__content__reveal" [style.width]="maxWidth">
      <div class="modal-component__content__reveal__header">
        <a (click)="close()" class="fa_times_close"> <i class="fa fa-times" aria-hidden="true"> </i></a>
        <div>{{ title }}</div>
        <span><i [class]="iconModal"></i></span>
      </div>
      <div class="modal-component__content__reveal__content" #modalContent>
        <ng-content></ng-content>
      </div>
      <div class="modal-component__content__reveal__content__buttons">
        <button *ngFor="let button of buttons" (click)="clickButton($event)" [ngClass]="button.type"
                class="modal-component__content__reveal__content__buttons__button nt-button">
          {{ button.label }}
        </button>
      </div>
    </div>
  </div>
</div>
